<div class="flex-container">

  <input #filterInput placeholder="Фильтр"
         type="text"
         (input)="filterIcons(filterInput.value)"
  />

  <button class="app-button app-button_default"
          (click)="changeIconsColorToDefault()">
    Default
  </button>

  <ng-container *ngFor="let buttonName of coloringButtons">
    <button class="app-button"
            [class.app-button_blue]="buttonName == coloringButtons[0]"
            [class.app-button_green]="buttonName == coloringButtons[1]"
            [class.app-button_red]="buttonName == coloringButtons[2]"
            [class.app-button_orange]="buttonName == coloringButtons[3]"
            (click)="changeIconsColor($event.target)"
    >
      {{buttonName}}
    </button>
  </ng-container>

</div>

<ng-container *ngFor="let iconWidth of iconWidths">

  <app-accordion [title]="'Size '+ (iconWidth ? iconWidth : 'not set')">
    <div class="flex-container">
      <ng-container *ngFor="let icon of filteredIcons | async">

        <ng-container *ngIf="icon.width == iconWidth">

          <div class="icon-presenter">
            <div class="icon" [innerHTML]="icon.svg"></div>
            <div>{{icon.name}}</div>
          </div>

        </ng-container>

      </ng-container>
    </div>
  </app-accordion>

</ng-container>

<z-spinner [size]="100"></z-spinner>

