/* You can add global styles to this file, and also import other style files */

.app-button {
  min-width: 100px;
  margin: 4px;
  padding: 8px;
}

@color-default: #A0A0A0;
@color-blue: #3D37F1;
@color-green: #36D233;
@color-red: #C6181F;
@color-orange: #D9800B;
@color-set: {
  default:@color-default;
  blue:@color-blue;
  green:@color-green;
  red:@color-red;
  orange:@color-orange;
};

each(@color-set, {

  .app-button_@{key} {
    .coloring-button-mxn(@value);
  };

})

.coloring-button-mxn(@color) {
  background-color: @color;
  border: 1px solid darken($background-color, 20%);
  color: if( (luma($background-color) > 50%), balck, white);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.icon-presenter {
  width: 200px;
  //height: 48px;
  margin: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
}

.icon {
  padding: 4px 4px;
  display: flex;
}
