<div class="accordion">
  <div class="accordion-header"
       (click)="toggle()"
  >
    <div class="accordion-header-item accordion-header__title">
      {{title}}
    </div>
    <div class="accordion-header-item icon" style="margin: 4px" [innerHTML]="state == 'expanded' ? iconCollapse : iconExpand"></div>
  </div>
  <div class="accordion-body"
       [class.accordion-body-hidden]="state == 'collapsed'"
  >
    <ng-content></ng-content>
  </div>
</div>
