.flex() {
  display: flex;
}

.accordion {
  .flex;
  flex-direction: column;
  margin: 8px 4px;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.accordion-header {
  .flex;
  align-items: center;
  justify-content: space-between;

  &:active {
    background-color: rgba(0,0,0,0.5);
  }
}

.accordion-header-item {
  margin: 4px;
}

.accordion-header__title {
  padding: 4px;
}

.accordion-body {
  .flex;
  flex-direction: column;

  &-hidden {
    display: none;
  }
}
